@model List<ResultCollectionDto>
@*
    _UICollectionComponent
*@

<section class="collection bg-light position-relative py-5">
    <div class="container">
        <div class="row position-relative">

            <div class="title-xlarge text-uppercase txt-fx domino">
                Kaira Koleksiyonları
            </div>

            <!-- SWIPER -->
            <div class="swiper collection-swiper my-5">
                <div class="swiper-wrapper">

                    @foreach (var item in Model)
                    {
                        <div class="swiper-slide">
                            <div class="collection-item d-flex flex-wrap align-items-center">

                                <!-- IMAGE -->
                                <div class="col-md-6 column-container">
                                    <div class="collection-media">
                                        <img src="@item.ImageUrl"
                                             alt="@item.Title"
                                             class="collection-image img-fluid">
                                    </div>
                                </div>

                                <!-- CONTENT -->
                                <div class="col-md-6 column-container bg-white">
                                    <div class="collection-content p-5 m-0 m-md-5">
                                        <h3 class="element-title text-uppercase">
                                            @item.Title
                                        </h3>

                                        <p>
                                            @item.Description
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }

                </div>
            </div>

            <!-- ARROWS -->
            <div class="icon-arrow icon-arrow-left collection-prev">
                <svg width="20" height="20" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </div>

            <div class="icon-arrow icon-arrow-right collection-next">
                <svg width="20" height="20" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </div>

        </div>
    </div>
</section>



<script>
document.addEventListener("DOMContentLoaded", function () {

    if (document.querySelector('.collection-swiper')) {

        new Swiper('.collection-swiper', {
            slidesPerView: 1,
            loop: true,
            speed: 800,
            grabCursor: true,
            navigation: {
                nextEl: '.collection-next',
                prevEl: '.collection-prev'
            }
        });

    }

});
</script>
