@model List<ResultCategoryDto>
@*
    _UICategoriesComponent
*@
<section class="categories overflow-hidden">
    <div class="container">
        <div class="open-up" data-aos="zoom-out">
            <div class="row">
                @foreach(var item in Model)
                {
                    <div class="col-md-4">
                        <div class="cat-item image-zoom-effect">
                            <div class="image-holder">
                                <a href="index.html">
                                    <img src="@item.ImageUrl" alt="categories" class="product-image img-fluid">
                                </a>
                            </div>
                            <div class="category-content">
                                <div class="product-button">
                                    <a asp-controller="Wear" class="btn btn-common text-uppercase">@item.Name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
               
            </div>
        </div>
    </div>
</section>

                       @*BUraya category ıd ye göre listelem yazıcaz wear için repository yazıcaz yani  *@