
@*
    _UIHeroSliderComponent
*@


<section class="kaira-hero">
    <div class="swiper kaira-hero-swiper">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="kaira-hero-slide">

                    <div class="kaira-hero-video">
                        <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&mute=1&loop=1&playlist=dQw4w9WgXcQ&controls=0&rel=0&modestbranding=1"
                                allow="autoplay"
                                frameborder="0"></iframe>
                    </div>

                    <div class="kaira-hero-overlay"></div>

                    <div class="kaira-hero-content">
                        <h1>KAIRA COLLECTION</h1>
                        <a href="#">KEŞFET</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>



<script>
        new Swiper('.zara-video-swiper', {
        effect: 'fade',
        loop: true,
        speed: 1200,
        autoplay: {
            delay: 6000,
            disableOnInteraction: false
        }
    });

</script>

