<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header flex items-center py-4 px-6 h-header-height">
            <img src="~/Admin/dist/assets/images/logo0.jpg"
                 class="img-fluid logo logo-lg"
                 alt="logo" />
        </div>

        <div class="navbar-content h-[calc(100vh_-_74px)] py-2.5">
            <ul class="pc-navbar">

                <!-- DASHBOARD -->
                <li class="pc-item">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="pc-link">
                        <span class="pc-micon"><i data-feather="home"></i></span>
                        <span class="pc-mtext">Anasayfa</span>
                    </a>
                </li>

                <!-- CONTENT -->
                <li class="pc-item pc-hasmenu">
                    <a asp-area="Admin" asp-controller="About" asp-action="Index" class="pc-link">
                        <span class="pc-micon"><i data-feather="user"></i></span>
                        <span class="pc-mtext">Hakkımda</span>
                    </a>
                </li>

                <li class="pc-item pc-hasmenu">
                    <a asp-area="Admin" asp-controller="Banner" asp-action="Index" class="pc-link">
                        <span class="pc-micon"><i data-feather="image"></i></span>
                        <span class="pc-mtext">Ana Vitrin</span>
                    </a>
                </li>

                <li class="pc-item pc-hasmenu">
                    <a asp-area="Admin" asp-controller="Contact" asp-action="Index" class="pc-link">
                        <span class="pc-micon"><i data-feather="mail"></i></span>
                        <span class="pc-mtext">İletişim</span>
                    </a>
                </li>

                <!-- LISTS -->
                <li class="pc-item pc-caption">
                    <label>Listeler</label>
                    <i data-feather="list"></i>
                </li>

                <li class="pc-item">
                    <a asp-area="Admin" asp-controller="Blog" asp-action="Index" class="pc-link">
                        <span class="pc-micon"><i data-feather="file-text"></i></span>
                        <span class="pc-mtext">Bloglar</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="pc-link">
                        <span class="pc-micon"><i data-feather="grid"></i></span>
                        <span class="pc-mtext">Kategoriler</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="pc-link">
                        <span class="pc-micon"><i data-feather="shopping-bag"></i></span>
                        <span class="pc-mtext">Ürünler</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a asp-area="Admin" asp-controller="Wear" asp-action="Index" class="pc-link">
                        <span class="pc-micon"> <i data-feather="layers"></i> </span>
                        <span class="pc-mtext">Giyim Kategorisi</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a asp-area="Admin" asp-controller="Collection" asp-action="Index" class="pc-link">
                        <span class="pc-micon"><i data-feather="layers"></i></span>
                        <span class="pc-mtext">Koleksiyonlarımız</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a asp-area="Admin" asp-controller="CoverImage" asp-action="Index" class="pc-link">
                        <span class="pc-micon"><i data-feather="image"></i></span>
                        <span class="pc-mtext">Kapak Fotoğrafları</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a asp-area="Admin" asp-controller="Logo" asp-action="Index" class="pc-link">
                        <span class="pc-micon"><i data-feather="image"></i></span>
                        <span class="pc-mtext">Logo Görselleri </span>
                    </a>
                </li>

                <li class="pc-item">
                    <a asp-area="Admin" asp-controller="FAQ" asp-action="Index" class="pc-link">
                        <span class="pc-micon"><i data-feather="help-circle"></i></span>
                        <span class="pc-mtext">Sıkça Sorulanlar</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a asp-area="Admin" asp-controller="Service" asp-action="Index" class="pc-link">
                        <span class="pc-micon"><i data-feather="briefcase"></i></span>
                        <span class="pc-mtext">Hizmetlerimiz</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a asp-area="Admin" asp-controller="Testimonial" asp-action="Index" class="pc-link">
                        <span class="pc-micon"><i data-feather="star"></i></span>
                        <span class="pc-mtext">Referanslarımız</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
