@model List<ResultServiceDto>
@*
   _UIFeatureComponent
*@

<section class="features py-5">
    <div class="container">
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-md-3 text-center"
                     data-aos="fade-in"
                     data-aos-delay="@(Model.IndexOf(item) * 300)">

                    <div class="py-5 feature-item">

                        <i class="bi @item.Icon fs-2 mb-3 feature-icon"></i>

                        <h4 class="element-title text-capitalize my-3">
                            @item.Title
                        </h4>

                        <p>
                            @item.Description
                        </p>

                    </div>
                </div>

            }

        </div>
    </div>
</section>

