@model UpdateVideoDto
@*
   _UIVideoComponent
*@

<section class="kaira-video-section py-5 overflow-hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="video-content open-up" data-aos="zoom-out">


                <div class="video-bg">
                    <img src="@Model.BackGroundImageUrl"
                         alt="video"
                         class="video-image img-fluid">
                </div>


                <div class="video-overlay"></div>

                <div class="video-center-content">
                    <h2 class="video-title">
                        Kaira’nın Dünyasını Keşfet
                    </h2>

                    <a class="youtube video-play-btn" href="/Home/Index">
                        <svg width="26" height="26" viewBox="0 0 24 24">
                            <use xlink:href="#play"></use>
                        </svg>
                        <img src="~/images/text-pattern.png"
                             alt="pattern"
                             class="text-rotate">
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
