@model UpdateAboutDto
@*
   _LayoutFooterAboutComponent
*@


<div class="footer-intro mb-3 fw-semibold text-uppercase">
    @Model.Title
</div>

<p class="footer-about-text">
    @Model.Description
</p>
